# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
Kontainer
Kontainer_autogen/
.qt/
compile_commands.json
.kdev4/
build/
CMakeLists.txt.user
.cache/
.clang-format
resources.qrc.depends
qrc_resources.cpp
__
res/icons/*.qrc.depends
.flatpak-builder/
build-dir/
my-local-repo/
kontainer
kontainer_autogen/
locale/
po/
