[Desktop Entry]
Name=Kontainer
Name[ca]=Kontainer
Name[ca@valencia]=Kontainer
Name[es]=Kontainer
Name[eu]=Kontainer
Name[fi]=Kontainer
Name[fr]=Kontainer
Name[gl]=Kontainer
Name[he]=Kontainer
Name[it]=Kontainer
Name[ka]=Kontainer
Name[nl]=Kontainer
Name[pt_BR]=Kontainer
Name[sl]=Kontainer
Name[sv]=Kontainer
Name[tr]=Konteyner
Name[uk]=Kontainer
Name[x-test]=xxKontainerxx
Name[zh_CN]=Kontainer
Name[zh_TW]=Kontainer
Comment=Manage Distrobox and Toolbox containers
Comment[ca]=Gestiona contenidors de Distrobox i Toolbox
Comment[ca@valencia]=Gestiona contenidors de Distrobox i ToolboX
Comment[es]=Gestión de contenedores Distrobox y Toolbox
Comment[eu]=Kudeatu Distrobox eta Toolbox edukiontziak
Comment[fi]=Hallinnoi Distrobox- ja Toolbox-säilöjä
Comment[fr]=Gérer les conteneurs Distrobox et Toolbox
Comment[he]=ניהול מכולות של Distrobox ו־Toolbox
Comment[it]=Gestisci i contenitori Distrobox e Toolbox
Comment[ka]=Distrobox-ის და Toolbox-ის კონტეინერების მართვა
Comment[nl]=Distrobox- en Toolbox-containers beheren
Comment[pt_BR]=Gerencia contêineres do Distrobox e do Toolbox
Comment[sl]=Upravljanje vsebnikov Distrobox in Toolbox
Comment[sv]=Hantera Distrobox- och Toolbox-behållare
Comment[tr]=Distrobox ve Toolbox kapsayıcılarını yönetin
Comment[uk]=Керування контейнерами Distrobox або Toolbox
Comment[x-test]=xxManage Distrobox and Toolbox containersxx
Comment[zh_CN]=管理 Distrobox 和 Toolbox 容器
Exec=kontainer
Icon=preferences-virtualization-container
Type=Application
Categories=System;Utility;
