[Desktop Entry]
Name=Kontainer
Comment=Manage Distrobox containers with a Qt GUI
Exec=kontainer
Icon=preferences-virtualization-container
Type=Application
Categories=System;Utility;
